#national-slider{
    width: 50%;
}

#senate-vis{
    width: 100%;
    height: 40VH;
}
#pop-vis{
    width: 100%;
    height: 40VH;
}

.center{
    display: flex;
    justify-content:center;
}

.box{
    display: inline;
    background-color: AntiqueWhite;
    font-weight: bold;
}


.caption{
    display: inline;
    font-size: small;
    padding-left: 10px;
    padding-right: 10px;
}

.bluestate{
    fill: royalblue;
    stroke: black;
}

.redstate{
    fill: firebrick;
    stroke: black;
}