#national-slider{
    width: 50%;
}

#senate-vis{
    width: 100%;
    height: 60VH;
}
#pop-vis{
    width: 100%;
    height: 60VH;
}

#tip{
    font-size: small;
}

.center{
    display: flex;
    justify-content:center;
}

.box{
    display: inline;
    background-color: AntiqueWhite;
    font-weight: bold;
}

.highlight{
    /*display: block;*/
    background-color: AntiqueWhite;
}

.title{
    font-weight: bold;
    /*text-decoration: underline;*/
}
.caption{
    display: inline;
    font-size: small;
    padding-left: 10px;
    padding-right: 10px;
}

.legend{
    font-size: small;
}

.bluestate{
    fill: royalblue;
    stroke: black;
}

.redstate{
    fill: firebrick;
    stroke: black;
}

.balance{
    fill: grey;
    stroke: black;
}

.tiptext{
    font-size: 2VH;
}

@media (min-width: 992px) {
    .col-lg-6:not(:last-child) {
        border-right: dashed;
    }
}
@media (max-width: 991px) {
    .col-lg-6:last-child {
        border-top: dashed;
    }
}