
#national-slider{
    width: 50%;
}

#senate-vis{
    width: 100%;
    height: 60VH;
}

#pop-vis{
    width: 100%;
    height: 60VH;
}

#slider-code{
    padding-bottom: 1VH;
}

#tip{
    font-size: 2.5VH;
}

.center{
    display: flex;
    justify-content:center;
    text-align: center;
}

.box{
    display: inline;
    background-color: AntiqueWhite;
    font-weight: bold;
}

.highlight{
    background-color: AntiqueWhite;
}

.title{
    font-weight: bold;
    padding-right: 0.5VW;
}

.caption{
    display: inline;
    font-size: 2VH;
    padding-left: 10px;
    padding-right: 10px;
}

.legend{
    font-size: 2VH;
}

.bluestate{
    fill: royalblue;
    stroke: black;
}

.redstate{
    fill: firebrick;
    stroke: black;
}

.balance{
    fill: grey;
    stroke: black;
}

.tiptext{
    font-size: 2VH;
}

.col-lg-6{
    padding-top: 1VH;
}

@media (min-width: 992px) {
    .col-lg-6:not(:last-child) {
        border-right: 1px solid black;
    }
}
@media (max-width: 991px) {
    .col-lg-6:last-child {
        border-top: 1px solid blac;
    }
}