.selectbox {
    padding-left: 10px;
}

.bar-label {
    font-size: 8px;
}

.y-axis-label, .x-axis-label {
    font-size: 12px;
    text-anchor: middle;
}

.container-fluid {
    margin: 20px;
    font-size: 2.5VH;
}

.footnote {
    font-size: 2VH;
}

.expand-button{
    display: inline-block;
    margin-left: 10px;
}
.important {
    font-size: 3VH;
}

.detail {
    margin: auto;
    width: 95%;
}

.tooltip {
    position: absolute;
    text-align: center;
    font: 20px sans-serif;
}
.tooltip h2,h4 {
    text-align: left;
    border-bottom: none;
    font: 20px sans-serif;
}
.tooltip h4 {
    font: 14px sans-serif;
}

